body
{
    background-color: #f1f1f1;
}
.navbar-light
{
    background-color: white;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.04);
}
.container-main
{
    min-height: 92.5vh;
}
a:hover, a:focus {
    outline: none;
    text-decoration: none;
}

.tab {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.04);
    border-radius: .25rem;
    background: white;
    padding: 40px 50px;
    position: relative;
    margin-bottom: 10%;
    border: 1px solid #e3eaf1;
}

.tab:before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.85;
}

.tab .nav-tabs {
    border-bottom: none;
    padding: 0 20px;
    position: relative;
}

.tab .nav-tabs li {
    margin: 0 30px 0 0;
}

.tab .nav-tabs li a {
    font-size: 18px;
    color: black;
    border-radius: 0;
    text-transform: uppercase;
    background: transparent;
    padding: 0;
    margin-right: 0;
    border: none;
    border-bottom: 2px solid transparent;
    opacity: 0.5;
    position: relative;
    transition: all 0.5s ease 0s;
}

.tab .nav-tabs li a:hover, .content-area h1:hover{
    background: transparent;
}

.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:focus,
.tab .nav-tabs li.active a:hover {
    border: none;
    background: transparent;
    opacity: 1;
    border-bottom: 2px solid #eec111;
    color:#7b01e9;
}

.tab .tab-content {
    padding: 20px 0 0 0;
    margin-top: 40px;
    background: transparent;
    z-index: 1;
    position: relative;
}

.form-bg {
    background: #ddd;
}

.form-horizontal .form-group,
.form-group
{
    margin: 0 0 15px 0;
    position: relative;
}

.form-horizontal .form-control,
.form-control{
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: none;
    padding: 0 20px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    transition: all 0.3s ease 0s;
}

.list-group a
{
    border:1px solid black;
    color: black;
}

.form-horizontal .form-control:focus,
.form-control:focus{
    box-shadow: none;
    outline: 0 none;
}

.form-horizontal .form-group label,
.form-group label{
    padding: 0 20px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.form-control:focus
{
    border-color: inherit;
}

.form-horizontal .text {
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: black;
    margin-left: 7px;
    line-height: 20px;
    padding-top: 5px;
    text-transform: capitalize;
}
.form-horizontal .btn ,
.btn-purple,
.btn-primary
{
    width: 100%;
    background: #7b01e9;
    padding: 10px 20px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    border-radius: 20px;
    text-transform: uppercase;
    margin: 20px 0 30px 0;
}
.form-horizontal .btn:hover,
.btn-purple:hover,
.btn-primary:hover
{
    background-color: #5401a8;
    color: #fff;
    outline: none;
    box-shadow: none;
}

.form-horizontal .btn:focus,
.btn-yellow:focus,
.btn-primary:focus
{
    background: #eec111;
    color: #fff;
    outline: none;
    box-shadow: none;
}

.btn-primary
{
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover,
.btn-primary:focus
{
    background-color: #0069d9;
    border-color: #0062cc;
}
.nav-user-side
{
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.02);
    border-bottom: 1px solid #e3eaf1;
}

.navbar-light .navbar-brand
{
    color:#7b01e9;
}

.navbar-light .navbar-nav .active>.nav-link
{
    color:#7b01e9;
}
.bg-theme
{
    background: white;
}

.content-area
{
    margin: 2% auto;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.04);
    background-color: white;
    padding: 2%;
    color: black;
}

.container-main h1, .card h5
{
    display:inline-block;
    color: black;
    border-radius: 0;
    padding: 0;
    margin-right: 0;
    position: relative;
    transition: all 0.5s ease 0s;
    border: none;
    background: transparent;
    opacity: 1;
    border-bottom: 2px solid #7b01e9;
    margin-bottom: 3%;
}

.content-area .card
{
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 10%;
}

.text-yellow
{
    color: #ffd211 !important;
}
.text-red
{
    color: #f10000 !important;
}
.text-green
{
    color: #00be00 !important;
}
.text-blue
{
    color: #0000d3 !important;
}

.form-group .disabled
{
    opacity: 0.7;
}

.img-slide{
    margin: auto;
    padding: 0;
    position: relative;
    width:800px;
    height: 500px;
    background: #000;
    border: 1px solid #000;
    border-radius:3px;

}
.img-slide img{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    max-width:100%;
    max-height: 100%;
}

.carousel.fade{
    opacity: 1;
}
.carousel.fade .carousel-item{
    display: block;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .5s;
}
.carousel.fade .carousel-item.active{
    position: relative;
    opacity: 1;
    left:0;
    top:0;
    transform: translate(0, 0);
}
.carousel-control-prev
{
    left: 10%;
}
.carousel-control-next
{
    right: 10%;
}
.time-card
{
    position: fixed;
    left: 0;
    bottom: 40%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.04);
    border-radius: .25rem;
}



/****radio and check******/
.funkyradio div {
    clear: both;
    overflow: hidden;
}

.funkyradio label {
    width: auto;
    padding-right: 2%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
    display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    margin-top: 1em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
    color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
    content: '\2714';
    text-indent: .9em;
    color: #C2C2C2;
    font-family: 'Zapf Dingbats';
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
    color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
    content: '\2714';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
    font-family: 'Zapf Dingbats';
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
    color: #333;
    background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #5bc0de;
}

/****radio and check******/


@media(max-width: 1200px)
{
    h1
    {
        font-size: 32px;
    }
    .card
    {
        font-size: 14px;
    }
    .card-subtitle
    {
        font-size: 15px;
    }
    .card-title
    {
        font-size: 17px;
    }
}

@media(max-width: 768px)
{
    h1
    {
        font-size: 25px;
    }
    .img-slide
    {
        width:400px;
        height: 250px;
    }
}
@media(max-width: 400px)
{
    h1
    {
        font-size: 15px;
    }
    .img-slide
    {
        width:250px;
        height: 250px;
    }
    .time-card
    {
        opacity: 0.1;
        bottom: 60%;
        transition: opacity 1s;
    }
    .time-card:hover
    {
        opacity: 1;
    }
}
@media only screen and (max-width: 479px) {
    .tab {
        padding: 40px 20px;
    }
}


