body
{
    background: #fcfcfc;
}
.container-main
{
    min-height: 92.5vh;
}
a:hover, a:focus {
    outline: none;
    text-decoration: none;
}

.tab {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.04);
    border-radius: .25rem;
    background: white;
    padding: 40px 50px;
    position: relative;
    margin-bottom: 10%;
    border: 1px solid #e3eaf1;
}

.tab:before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.85;
}

.tab .nav-tabs {
    border-bottom: none;
    padding: 0 20px;
    position: relative;
}

.tab .nav-tabs li {
    margin: 0 30px 0 0;
}

.tab .nav-tabs li a {
    font-size: 18px;
    color: black;
    border-radius: 0;
    text-transform: uppercase;
    background: transparent;
    padding: 0;
    margin-right: 0;
    border: none;
    border-bottom: 2px solid transparent;
    opacity: 0.5;
    position: relative;
    transition: all 0.5s ease 0s;
}

.tab .nav-tabs li a:hover, .content-area h1:hover{
    background: transparent;
}

.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:focus,
.tab .nav-tabs li.active a:hover {
    border: none;
    background: transparent;
    opacity: 1;
    border-bottom: 2px solid #eec111;
    color:#7b01e9;
}

.tab .tab-content {
    padding: 20px 0 0 0;
    margin-top: 40px;
    background: transparent;
    z-index: 1;
    position: relative;
}

.form-bg {
    background: #ddd;
}

.form-horizontal .form-group {
    margin: 0 0 15px 0;
    position: relative;
}

.form-horizontal .form-control {
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: none;
    padding: 0 20px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    transition: all 0.3s ease 0s;
}

.form-horizontal .form-control:focus {
    box-shadow: none;
    outline: 0 none;
}

.form-horizontal .form-group label {
    padding: 0 20px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.form-horizontal .text {
    float: left;
    font-size: 14px;
    font-weight: bold;
    color: black;
    margin-left: 7px;
    line-height: 20px;
    padding-top: 5px;
    text-transform: capitalize;
}
.form-horizontal .btn ,
.btn-purple
{
    width: 100%;
    background: #7b01e9;
    padding: 10px 20px;
    border: none;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    border-radius: 20px;
    text-transform: uppercase;
    margin: 20px 0 30px 0;
}
.btn-yellow
{
    margin-bottom: 5%;
}
.form-horizontal .btn:hover,
.btn-purple:hover
{
    background-color: #5401a8;
    color: #fff;
    outline: none;
    box-shadow: none;
}

.form-horizontal .btn:focus,
.btn-yellow:focus{
    background: #eec111;
    color: #fff;
    outline: none;
    box-shadow: none;
}

.nav-user-side
{
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.02);
    border-bottom: 1px solid #e3eaf1;
}

.navbar-light .navbar-brand
{
    color:#7b01e9;
}

.navbar-light .navbar-nav .active>.nav-link
{
    color:#7b01e9;
}
.bg-theme
{
    background: white;
}

.content-area
{
    margin: 2% auto;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.04);
    background-color: white;
    padding: 2%;
    color: black;
}

.container-main h1, .card h5
{
    display:inline-block;
    color: black;
    border-radius: 0;
    padding: 0;
    margin-right: 0;
    position: relative;
    transition: all 0.5s ease 0s;
    border: none;
    background: transparent;
    opacity: 1;
    border-bottom: 2px solid #7b01e9;
    margin-bottom: 3%;
}

.content-area .card
{
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 10%;
}

.text-yellow
{
    color: #ffd211 !important;
}
.text-red
{
    color: #f10000 !important;
}
.text-green
{
    color: #00be00 !important;
}
.text-blue
{
    color: #0000d3 !important;
}

.form-group .disabled
{
    opacity: 0.7;
}

@media(max-width: 1200px)
{
    .card
    {
        font-size: 14px;
    }
    .card-subtitle
    {
        font-size: 15px;
    }
    .card-title
    {
        font-size: 17px;
    }
}

@media only screen and (max-width: 479px) {
    .tab {
        padding: 40px 20px;
    }
}


