.text-normalsize
{
    text-transform: none !important;
}

.wrap .app-content .cards .card .card-block
{
    font-size: inherit;
}

.cards a
{
    color: inherit;
}

#admin .content .bottom .right a
{
    line-height: 1.1;
    margin-top: 0;
}
.category-link
{
    cursor: pointer;
}
#admin #leads .table .category-link td,#admin #leads .table thead th,#admin #leads .table tbody td
{
    padding-left: 1%;
    padding-right: 1%;
}
.category-link:hover
{
    background-color: #fafafa;
}

.radio-label-div
{
    height: 38px;
}

.radio-label
{
    margin-top: 7px;
}


#admin .sidebar #list .nav .sub .nav-link
{
    margin-left: 10px;
}

#admin .sidebar
{
    overflow: auto;
}

.text-yellow
{
    color: #ffd211 !important;
}
.text-red
{
    color: #f10000 !important;
}
.text-green
{
    color: #00be00 !important;
}
.text-blue
{
    color: #0000d3 !important;
}

.avatar img
{
    max-width: 100%;
}

#Profile .avatar
{
    border-radius: 0;
}