.card-muted
{
    opacity: 0.5;
}
.text-normalsize
{
    text-transform: none !important;
}

.wrap .app-content .cards .card .card-block
{
    font-size: inherit;
}

.cards a
{
    color: inherit;
}

#admin .content .bottom .right a
{
    line-height: 1.1;
    margin-top: 0;
}
.category-link
{
    cursor: pointer;
}
#admin #leads .table .category-link td,#admin #leads .table thead th,#admin #leads .table tbody td
{
    padding-left: 1%;
    padding-right: 1%;
}
.category-link:hover
{
    background-color: #fafafa;
}

.radio-label-div
{
    height: 38px;
}

.radio-label
{
    margin-top: 7px;
}


#admin .sidebar #list .nav .sub .nav-link
{
    margin-left: 10px;
}

#admin .sidebar
{
    overflow: auto;
}

.text-yellow
{
    color: #ffd211 !important;
}
.text-red
{
    color: #f10000 !important;
}
.text-green
{
    color: #00be00 !important;
}
.text-blue
{
    color: #0000d3 !important;
}

.avatar img
{
    max-width: 100%;
}

#Profile .avatar
{
    border-radius: 0;
}

.card .card:hover
{
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

.card a:hover
{
    cursor: pointer;
}

.card-danger
{
    border: 1px solid #FF2E63;
}

.card-warning
{
    border: 1px solid #FFEB6C;
}

.card-primary
{
    border: 1px solid #0275d8;
}

.card-success
{
    border: 1px solid #8CD790;
}

.card-danger .card-footer
{
    background-color:#FF2E63;
    color:white;
}

.card-warning .card-footer,
.card .card-warning .card-header
{
    background-color:#FFEB6C;
    color: black;
}

.card .card-primary .card-header,
.card-primary .card-footer
{
    background-color:#0275d8;
    color:white;
}
.card-success .card-footer
{
    background-color:#8CD790;
    color:white;
}

#categories-list .list-group-item.active
{
    background-color: #ae55ff;
}

.wrap #contact #categories-list .list-group .list-group-item.active:hover
{
    background-color: #ae55ff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
    border-color: #ae55ff;
}

.app-action-panel .list-group-item.active .item-actions .item-action
{
    color:white;
}

.wrap #contact #categories-list .list-group .list-group-item .item-action:hover
{
    color: #5c2982;
}

#doc
{
    padding: 0;
}
